<h1>Create New Property Listing</h1>

<form action="/properties" method="POST">
	<label>Short Description:</label>
	<input type="text" name="description"><br>
	<label>Location:</label>
	<input type="text" name="location"><br>
	<label>Price:</label>
	<input type="number" name="price"> rate per night<br>
	<label>Availability:</label>
	<input type="text" name="availability"><br>

	<input type="submit" value="Create New Property Listing">
</form>