<h1>Create a New Booking</h1>

<form action="/properties/<%= @property.id %>/bookings" method="POST">
	<label>Start Date:</label>
	<input type="date" name="start_date"><br>
	<label>End Date:</label>
	<input type="date" name="end_date"><br>
	
	<input type="submit" value="Book This Property">
</form>